.mi-boton {
    -fx-background-color: #d0aac1;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 20px;
    -fx-border: none;
    -fx-border-radius: 10px;
    -fx-cursor: pointer;
    -fx-font-size: 17px;
    -fx-transition: background-color 0.3s ease; /* Transición suave */
    -fx-display: inline-block; /* Para que se comporte como un bloque pero en línea */
}

.btn-eliminar{
    -fx-background-color: #DC143C;
}

.mi-boton:hover {
    -fx-background-color: #DB7093 ;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: white;
/*    -fx-background-image: url("/Users/mb92029/Documents/GIT_ED/Proyecto/shailu/src/main/resources/img/fondo.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;*/
}


